/* ESTILOS GENERALES */
* {
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Fira Code', monospace;
}

.seccion-oscura {
    background-color: #1b1b32;
    color: white;
}

.seccion-clara {
    background-color: white;
    color: black;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'M PLUS Code Latin', sans-serif;
}

.seccion-texto {
    font-family: 'Fira Code', monospace;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}

/* BARRA DE NAVEGACION */
.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* SECCION HERO */
.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: rgb(140, 135, 135);
}

.hero-inferior {
    background-color: #ffffff;
}

.hero-profile-image {
    width: 230px;
    height: 300px;
    border-radius: 50%;
    margin: 20px;
}

/* sobre mi */
.sobre-mi {
    height: 500px;
    padding: 20px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

/* EXPERIENCIA */
.experiencia {
    padding: 40px 40px 60px 40px;
}

.experiencia i {
    font-size: 2.5rem;
    color: #ccc;
    background-color: black;
    padding: 8px 20px;
    border-radius: 50%;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* margin: 5px; */
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
    background-color: #1b1b32;
    color: white;
}

.badges-contenedor {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

/* PROYECTOS */
.proyectos-recientes {
    padding: 40px;
}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.proyecto {
    position: relative;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 40px;
    margin: 5px;
}

/* ADAPTABLE (RESPONSIVO) */
@media screen and (max-width:768px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width:700px) {
    .hero-inferior-image {
        max-width: 500px;
    }
}

@media screen and (max-width:500px) {
    .overlay i {
        font-size: 24px;
    }

}