/* ESTILOS GENERALES */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Fira Code', monospace;
}

/* BARRA DE NAVEGACION */
.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* SECCION HERO */
.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}
.hero-principal h2{
    font-size: 1.5rem;
    color: rgb(140, 135, 135);
}
.hero-inferior{
    background-color: #ffffff;
}

.hero-profile-image{
    width: 230px;
    height: 300px;
    border-radius: 50%;
    margin: 20px;
}
/* ADAPTABLE (RESPONSIVO) */
@media screen and (max-width:768px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width:700px){
    .hero-inferior-image{
        max-width: 500px;
    }
}